:root {
    --primary-color: black;
    --primary-background-color: white;
    --primary-heading-color: #2e2f42;
    --primary-button-background-color: #4d5ae5;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    margin: 0;
    padding: 0;
    max-width: 1440px
}

/* initial css */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-heading-color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/*-- region Header --*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 2px solid darkred;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-web {
    color: var(--primary-button-background-color);
}
.menu {
    display: flex;
}
.menu a {
    margin-left: 40px;
}
.menu:first-child {
    margin-left: 76px;
}
.menu a {
    font-size: 16px;
    font-weight: 500;
}
.contacts {
    display: flex;
}
/*-- end Header --*/
/*-- region Hero --*/
.hero {
    height: 600px;
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;        /* Выравниваем заголовок и кнопку по центру */
    text-align: center;
}
.hero-slogan-heading {
    color: white;
    font-size: 56px;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 35%;
}
.hero-order-button {
    color: white;
    background-color: #404bbf;
    width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    cursor: pointer;
}
.hero-order-btn:hover {
    background-color: var(--primary-button-background-color);
}
/*-- end Hero --*/
