:root {
    --primary-color: #000000;
    --primary-background-color: #ffffff;
    --primary-heading-color: #2e2f42;
    --primary-button-background-color: #4d5ae5;
    --primary-heading-hover-color: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    margin: 0;
    padding: 0;
}

/* initial css */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-heading-color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.page {
    margin: 0 auto;
    max-width: 1440px;
}

/*-- region Header --*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 2px solid darkred;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.nav-logo {
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center; /* Центрируем текст */
    height: 100%; /* Растягиваем по высоте */
}
.nav-logo-web {
    color: var(--primary-button-background-color);
}
.nav-menu {
    display: flex;
}
.nav-menu a {
    color: var(--primary-heading-color);
    margin-left: 40px;
    font-size: 16px;
    font-weight: 500;
}
.nav-menu:first-child {
    margin-left: 76px;
}
.nav-menu a:hover {
    color: var(--primary-heading-color);
}
.contacts {
    display: flex;
}
.contacts a {
    margin-right: 40px;
    /*color:*/
    font-style: normal;
    line-height: 24px;
}
.contacts a:hover {
    color: #404bbf;
}
/*-- end Header --*/

/*-- region Hero --*/
.hero {
    height: 600px;
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.hero-slogan-heading {
    color: white;
    font-size: 56px;
    font-weight: 700;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
    max-width: 35%;
}
.hero-order-button {
    color: white;
    background-color: var(--primary-heading-hover-color);
    width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    cursor: pointer;
}
.hero-order-btn:hover {
    background-color: var(--primary-button-background-color);
}
/*-- end Hero --*/
/*-- region Features --*/
.features {
    width: 1128px;
    height: 104px;
}
.features-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 264px;
    word-wrap: break-word;       /* Разрыв слов, если они слишком длинные */
    overflow-wrap: break-word;   /* Альтернативный способ разрыва */
    white-space: normal;         /* Разрешаем перенос строк */
    background: none;            /* Бокс без видимых границ */
}
/*-- end Features --*/
